body {
  margin: 0;
  padding: 0;
  
  --maxWidth: 780px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Oxygen', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  @media only screen and (max-width: 790px) {
    padding: 0 12px;
  }
}

h1 {
  margin: 0;
}